<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
    
    RGB #02a393
-->
<html ng-app="VDMApp">
	<head>
		<title>Vie de Merde - 3IE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
        
        <script type="text/javascript" src="js/controllers.js"></script>
		
        <link href="css/toastr.min.css" rel="stylesheet"/>
		<script src="js/toastr.min.js"></script>


		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
            <link rel="stylesheet" href="css/style-wide.css" />
            <link rel="stylesheet" href="css/style.css" />
		</noscript>


		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">
		<!-- Header -->
			<header id="header" class="alt" ng-controller="menuctrl">
				<h1><a href="index.html">Vie de Merde</a> by Eddydg</h1>
				<nav id="nav">
					<ul>
                        <li id="sayHello"></li>
						<li><a href="index.html">Accueil</a></li>
                        <li><a id="login-link" href="login.html">Se connecter</a></li>
                        <li><a id="logout-link" href="#" disabled><span ng-click="logout()">Se déconnecter</span></a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<img src="images/logo.jpg" alt="">
				<p>Parce que vous n'êtes pas le seul à avoir la vie dure.</p>
				<ul class="actions" id="vdm-actions">
					<li><a href="#vdm-post" rel="" id="goToSendForm" class="button special">Postez votre VDM</a></li>
					<!--<li><a href="#" class="button">VDM au Hasard</a></li>-->
                    <li><span class="button pecial disabled">VDM au Hasard</span></li>
				</ul>
			</section>

		<!-- Main -->
			<section id="main" class="container" ng-controller="postscontroller">
		
                <div class="box" id="defaultBox">
                    <h4>
                        Veuillez vous connecter pour accéder aux status et poster vos propres VDM
                    </h4>
                </div>
                <div id="posts-vdm">
                    <div class="spinner" ng-show="loading">
                        <div class="box" style="text-align: center">
                            <img src="images/hex-loader.gif">
                        </div>
                    </div>
                    <div class="box post-vdm" ng-repeat="post in posts">
                        <p class="infos">
                            {{post.author_username}} - 
                            {{post.creation_date | date:'dd-MM-yyyy'}} à {{post.creation_date | date:'HH:mm:ss'}}
                            <span ng-if="post.latitude">
                                 - 
                                 <a href="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=800x500&markers=color:blue%7Clabel:S%7C{{post.latitude}},{{post.longitude}}">
                                    {{post.latitude}}:{{post.longitude}}
                                 </a>
                            </span>
                                
                         </p>
                        <p class="vdm-status">
                            {{post.status}}<br />
                            <div ng-bind-html="vdmGetImage(post)"></div>
                        </p>
                        <p>
                            <a href="" ng-click="vdmConfirm(post, 1)" disabled>Je valide, c'est une VDM ({{post.nb_confirm_up}})</a> / 
                            <a href="" ng-click="vdmConfirm(post, 0)" disabled>Tu l'as bien mérité ({{post.nb_confirm_down}})</a>
                        </p>
                    </div>
                </div>

			</section>
			
		<!-- CTA -->
			<section id="cta" ng-controller="newStatusCtrl">
				
				<h2>Postez votre VDM</h2>
				<p>Toutes les VDM sont soumises à modération.</p>
				
				<form enctype="multipart/form-data" id="vdm-post" ng-submit="newStatus()" novalidate>
					<div class="row uniform 70%">
                        <div class="12u">
                            <textarea name="vdmStatus" id="vdmStatus" ng-model="vdmStatus" placeholder="Entrez votre VDM" rows="3"></textarea>
                        </div>

                        <div ng-controller="Ctrl" style="color: white" class="7u 12u(2)">
                            <input type="file" id="file" name="file" file-upload/>
                            <ul style="color: white">
                                <li ng-repeat="file in files">{{file.name}}</li>
                            </ul>
                        </div>
                        
                        <div class="5u 12u(2)">
                            <input type="checkbox" id="checkLocation" name="checkLocation" checked>
                            <label for="checkLocation"><p style="color: white">Localiser ma VDM</p></label>
                        </div>
                        <div style="margin-top: -20px;" class="12u 12u(2)">
                            <input type="submit" value="Envoyer" class="fit" />
                        </div>
					</div>
				</form>
				
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>&copy; Vie de Merde. All rights reserved.</li><li>Projet 3IE</li>
				</ul>
			</footer>

			<script type="text/javascript">
                $('a').click(function(){
                    $('html, body').animate({
                        scrollTop: $( $(this).attr('href') ).offset().top
                    }, 500);
                    return false;
                });

			</script>
	</body>
</html>