<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
    
    RGB #02a393
-->
<html ng-app="VDMApp">
	<head>
		<title>Vie de Merde - 3IE</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="js/controllers.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<!-- common styles -->
		<link rel="stylesheet" type="text/css" href="css/dialog.css" />
		<!-- individual effect -->
		<link rel="stylesheet" type="text/css" href="css/dialog-annie.css" />
		<link href="css/toastr.min.css" rel="stylesheet"/>
		<script src="js/toastr.min.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>


		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">
		<!-- Header -->
			<header id="header" class="alt" ng-controller="menuctrl">
				<h1><a href="index.html">Vie de Merde - Connexion</a> by Eddydg</h1>
				<nav id="nav">
					<ul>
						<li id="sayHello"></li>
						<li><a href="index.html">Accueil</a></li>
                        <li><a id="login-link" href="login.html">Se connecter</a></li>
                        <li><a id="logout-link" href="#" ng-click="logout()" disabled>Se déconnecter</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<img src="images/logo.jpg" alt="">
			</section>

		<!-- Main -->
			<section id="main" class="container 75%" ng-controller="loginctrl">
				<div class="box">
					<form name="loginForm" ng-submit="login(user)" novalidate>
						<div class="row uniform 50%">
							<div class="6u 12u(3)">
								<input type="text" name="name" id="name" value="" ng-model="user.username" placeholder="Utilisateur" required>
							</div>
							<div class="6u 12u(3)">
								<input type="password" name="password" id="password" value="" ng-model="user.password" placeholder="Mot de passe" required>
							</div>
						</div>
						<div class="row uniform">
							<div class="12u">
								<ul class="actions align-center">
									<li><input type="submit" value="Se connecter"></li>
									<li><a class="button special" ng-click="register(user)">S'incrire</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div>

			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>&copy; Vie de Merde. All rights reserved.</li><li>Projet 3IE</li>
				</ul>
			</footer>
	</body>
</html>